.playground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_select_options {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-gap: 60px 90px;
    margin: 20px;
}

.player_select_option:nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
}



.player_select_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 1px rgba(0, 0, 0, 0.24) inset;
    background: white;
    cursor: pointer;
}

.rock {
    border: 20px solid hsl(349, 71%, 52%);
}

#rock::after {
    content: "";
    width: 200px;
    height: 10px;
    position: absolute;
    background: rgb(0, 0, 0);
    transform: translateX(65%);
    z-index: -1;
}

.paper {
    border: 20px solid hsl(230, 89%, 62%);
}

#paper::after {
    content: "";
    width: 200px;
    height: 10px;
    position: absolute;
    background: rgb(0, 0, 0);
    transform: translate(-20%, 1000%) rotate(-60deg);
    z-index: -1;
}

.scissors {
    border: 20px solid hsl(39, 89%, 49%);
}

#scissors::after {
    content: "";
    width: 200px;
    height: 10px;
    position: absolute;
    background: rgb(0, 0, 0);
    transform: translate(-34%, -1000%) rotate(60deg);
    z-index: -1;
}

.result {
    color: rgb(255, 255, 255)
}

.result_options {
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: space-between;
    grid-gap: 60px 90px;
    margin: 20px;
}

.result_status {
    font-weight: 900;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    display: grid;
    justify-content: space-between;
}

.result_status button {
    background: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    color: rgba(53, 53, 53, 0.863);
    border-radius: 6px;
}